
.left {
  width: 6vw;
  color: #f7f7f9;
  padding: 20px 0;
  margin: 0 1vw 0 1vw;
  position: relative;
  background: none;
  border: 0;
  text-shadow: 0.2em 0.2em 3px rgba(15, 13, 13, 0.5);
}
.left a {
  text-decoration: none;
}
.left:hover {
  cursor: pointer;
}

.mid {
  background: none;
  position: relative;
  width: 60vw;
  margin: 0 0 0 0vw;
  color: #f7f7f9;
  padding: 0;
  font-size: 1rem;
  border-left: 3px solid #4A4A4A;

}

.navbar {
  position: relative;
  margin: 0;
  padding: 0;

}
.navbar li {
  text-shadow: 0.2em 0.2em 3px rgba(15, 13, 13, 0.5);
  list-style: none;
  position: relative;
  padding: 20px 50px;
  margin: 0;
  height: 60px;
}

.navbar li a {
  text-decoration: none;
}
.navbar li:hover{
  cursor: pointer;
  background: #4A4A4A;
} 
.right {
  background: none;
  margin: 0 0 0 4vw;
  font-size: 1.2rem;
  color: white;
}
.right a {
  text-decoration: none;
}
.right li:hover {
  cursor: pointer;
}

.Button {
  margin: "30px";
}

header {
  background-color: #898989;
  font-family: "Arial";
  height: 60px;
  box-sizing: border-box;
  display: flex;
  weight: 100vw;
  z-index: 10;
  top: 0;
  position: sticky;
  font-weight: 600;
}
a {
  vertical-align: middle;
  font-size: 1.2rem;
  color: #f7f7f9;
}
a:hover {
  color: #f7f7f9;
  text-decoration: none;
}
